<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formulario" (ngSubmit)="submitLogin()"  >
    <ion-item>
      <ion-input 
        type="text" 
        textLabel="Ingrese su correo"
        formControlName="username"
        fill="outline"
      ></ion-input>
      <br>
      
    </ion-item>
    <ion-item>
      <ion-input 
        type="password"
        textLabel="Ingrese su contraseña"
        formControlName="password"
        fill="outline"
      ></ion-input>
    </ion-item>
    <ion-button 
      type="submit" 
      role="submit" 
    >
      Iniciar Sesión
    </ion-button>
  </form>

  <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
    {{ errorMessage }}
  </div>
 
</ion-content>
